*
img{
  margin-top: -50px;
  margin-left: 3%;
  width: 180px;
} 
body{
  background-color: #411c20;
} 
select{
  border-radius: 25px;
  height:40px;
  width: 45%;
 padding: 10px;
 background-color: black;
 color: white;

}
button{
  border-radius: 25px;
  height:40px;
  width: 28%;
  margin-left: 5%;
}
div{
  margin-top: -9%;
  margin-left: 80%;
}

body{
  background-image:  url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4hrS9VbRZgixPi50DZ9goKHVbd08aCQ6wTQ&s);
 background-repeat: no-repeat;
 
 background-size:cover;
 background-attachment: fixed; 

}
  h1,h2,p{
    color: white;
    text-align: center;
  }
  h1{
    font-size:50px;
    margin-top: 15%;
  }
  p{
    font-size: 15px;
  }
  h2{
    font-size: 25px;
  }
  .button1{
    width: 70%;
    margin-left: 30%;
   margin-top: 1px;
    box-flex-group: rgb(150, 143, 143);
  }

 
 


